{{ define "main" }}

  <div class="mw7 center">
    {{ partial "jumbotron" (dict "title" .Title "subtitle" .Params.subtitle) }}
  </div>

  {{ partial "divider" . }}

  <div class="mw7 center">
    {{ partial "short-text" .Params.blurb}}
  </div>

  <div class="mw7 center">
    {{ partial "2-up" .Params }}
  </div>

  <div class="mw7 center">
    {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}
  </div>
  
  <div class="mw7 center">
    {{ partial "blog" . }}
  </div>

{{ end }}
